@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .colorway {
    transition: all 0.2s ease-in-out; 
    cursor: pointer;
    color: #ffeadb;
    text-align: center;
  }

  .colorway:hover {
    background: #15252d; 
  }

  .active {
    background: #15252d;  
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}