@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .colorway {
    transition: all 0.2s ease-in-out; 
    cursor: pointer;
    color: #ffeadb;
    text-align: center;
  }

  .colorway:hover {
    background: rgba(29, 52, 64, 0.4); 
    backdrop-filter: blur(4px);
  }

  .colorway>p:hover 
  {
    opacity: 100%;
  }

  .active {
    background: rgba(29, 52, 64, 0.4); 
    backdrop-filter: blur(4px);
    border-radius: 6px;  
  }

  .listItem {
    padding: 5px 0; 
    list-style: disc; 
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
  transform-origin: bottom;
}
